# ignore these files #lets keep 2021 results, for reference
/PyTorch-VAE/Data
/siamese-pytorch/omniglot
#/shell_script_results/2020_results
/barlowtwins/checkpoint*
*.pth
*.tar
*.tgz
*.zip
*.mgz
*.pt
*.zip
*.npy
*.npz
*.gz
*.png
*.output
*.error
*.err
*.out
/junbeom_finetuning/__pycache__
/data
